.signup-container {
  padding: 100px 200px;
  background: #FFF1E0;
}

.signup-form {
  padding: 50px 100px;
}

.form-input {
  margin-bottom: 20px;
}

.housing-input {
  margin-top: 20px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
  font-size: 1.5rem;
}