.hero {
  background-image: url(https://images.unsplash.com/photo-1509422007420-a57adf7b7fdf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-attachment: fixed;
  min-height: 65vh;

  text-shadow: 1px 1px grey;
  margin: 0 0;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  .big-icon {
    display: block;
    margin: 0 auto;
    height: 80px;
    width: 80px;
    color: green;
  }

  .title {
    font-size: 0.8rem;
  }

  .steps-text {
    font-size: 0.8rem;
  }
}
