.user-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 40px 0;

  background: #FFF1E0;
}

.userInfo {
  float: left
}

.profile-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}